<template>
  <q-page class="q-ma-xl">
    <q-form ref="submitform" @submit="submit" class="q-ma-md">
      <q-input
      dense
      outlined
      style="width: 500px; margin-top: 10px;"
      v-model="form.FullName" 
      label="Name"
      lazy-rules
         :rules="[(val) => !!val || 'Required to fill.']"
       />
      <q-input
      dense
      outlined 
      style="width: 500px; margin-top: 10px;"
      v-model="form.Location" 
      label="Address"
      lazy-rules
         :rules="[(val) => !!val || 'Required to fill.']"
      />
      <q-input
    dense
    outlined
    style="width: 500px; margin-top: 10px;"
    v-model="form.EmailAddress"
    label="Email Address"
    :rules="[
      (val) => !val.includes(' ') || 'Email address should not contain spaces.',
      (val) => val.trim() !== '' || 'Required to fill',
      (val) => val === val.toLowerCase() || 'Must be small letters.'
    ]"
    @blur="addGmail"
  />
  <q-input
    dense
    outlined
    style="width: 500px; margin-top: 10px;"
    v-model="form.Contact" 
    label="Contact Number"
    :rules="[
      (val) => val.trim() !== '' || 'Required to fill.',
      (val) => /^\d+$/.test(val) || 'Must be a numbers.',
      (val) => /^09\d{9}$/.test(val) || 'Contact number must start with 09 and contain 11 digits.'
    ]"
  />
      <q-btn type="submit" :label="selectedRow ? 'Update' : 'Submit'" color="primary"
 style="width: 200px; margin-top: 10px; margin-left: 300px"  />
    </q-form>
    <div class="q-g">
      <q-card v-for="(row, index) in rows" :key="index" class="q-mr-md" @click="onRowClick(row)" style="width: 525px; margin-top: 20px;">
        <q-card-section> 
          <div class="text-subtitle1"><b>Name:</b> {{ row.FullName }}</div> 
          <div class="text-subtitle1"><b>Address:</b> {{ row.Location }}</div>
          <div class="text-subtitle1"><b>Email Address:</b> {{ row.EmailAddress }}</div>
          <div class="text-subtitle1"><b>Contact Number:</b> {{ row.Contact }} </div>
          <q-btn color="red" label="Delete" @click.stop="deleteRow(index)"  style="width: 200px; margin-top: 5px; margin-left: 300px" />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>
<script>
import { ref } from 'vue';

export default {
  setup() {
    let form = ref({
      FullName: '',
      Location: '',
      EmailAddress: '',
      Contact: '',
    });

    let rows = ref([]);
    let submitform = ref (null);
    let selectedRow = ref(null);


const submit = () => {
      if (!selectedRow.value) {
        rows.value.push(form.value);
      } else {
        rows.value[rows.value.indexOf(selectedRow.value)] = { ...form.value };
        selectedRow.value = null;
      }
      form.value = {
        FullName: '',
        Location: '',
        EmailAddress: '',
        Contact: '',
      };
      submitform.value.reset ();
    };

    const onRowClick = (row) => {
      form.value = { ...row };
      selectedRow.value = row;
    };

    const deleteRow = (index) => {
      if (selectedRow.value === rows.value[index]) {
        selectedRow.value = null;
        form.value = {
          FullName: '',
          Location: '',
          EmailAddress: '',
          Contact: '',
        
        };
        
      }
      rows.value.splice(index, 1);
    };
    const addGmail = () => {
  if (!form.value.EmailAddress.includes("@gmail.com")) {
    form.value.EmailAddress += "@gmail.com";
  }
};

    return {
      form,
      rows,
      selectedRow,
      submit,
      onRowClick,
      deleteRow,
      addGmail,
      submitform,


    
};

}
};
</script>